<div class="header pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 d-inline-block mb-0">Groups</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Documents</a></li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
              <a href="#" class="btn btn-sm btn-neutral">New</a>
              <a href="#" class="btn btn-sm btn-neutral">Filters</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-3 col-md-6" *ngFor="let Group of Groups; let i = index" cdkDrag>
          <div class="card bg-gradient-primary border-0">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0 text-white">{{ Group.Nom }}</h5>
                  <span class="h2 font-weight-bold mb-0 text-white">{{ Group.Niveau }}            </span>
                  <span class="h2 font-weight-bold mb-0 text-white">{{ Group.nom_E }}            </span>

                  
                  <div class="progress progress-xs mt-3 mb-0">
                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                  </div>
                </div>
   
                <div class="col-auto"   >
                  <button type="button" (click)="modalDoc(ModelDoc,Group._id)" class="btn btn-sm btn-neutral mr-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-h"></i>
                  </button>
                  
                </div>
              </div>
              <p class="mt-3 mb-0 text-sm"   *ngFor="let detail of Group.details let i = index">
            
               <a href="#!" class="text-nowrap text-white font-weight-600">{{detail.nom_Groupe}}</a><br>
                
 <button type="button" class="btn btn-outline-info" (click)="openDoc(endpoint, detail.url)">View</button>
 <button type="button" class="btn btn-outline-danger" (click)="download(detail.url)">download PDF</button>
              </p>
            </div>
          </div>
        </div>
       
    
       
      </div>
    </div>



    <ng-template #ModelDoc let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">details Document</h4>
    <button type="button"  class="close" aria-label="Close"  (click)="modal.dismiss('Cross click')" >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong>
         Group Name:  
        <span class="text-primary"> {{DocDetails.Nom}}</span> </strong>
    </p>
    <p>
   Teacher Name:
      <span class="text-danger"> {{DocDetails.nom_E}}.</span>
    </p>
    <p>
    Level:
      <span class="text-danger"> {{DocDetails.Niveau}}.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
  </div>
</ng-template>