<div class="main-content">
  <!-- Header -->
  <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-6 col-md-8 px-5">
            <h1 class="text-white">Welcome!</h1>
            <p class="text-lead text-white">KeepSchoolin  website gives the opportunity to students to interact with their teachers throughout online courses and digital content</p>

            <div class="btn-wrapper mt-5">
              <a  [routerLink]="['/auth/loginEnseignant']" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                <span class="btn-inner--text">Login Teacher</span>
              </a>
              <a [routerLink]="['/auth/loginEtudiant']" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0" target="_blank">
                <span class="btn-inner--text"><span class="text-warning">Login</span> Students</span>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->

