@import url(https://fonts.googleapis.com/css?family=Roboto);
html { 
  background-size: cover;
	font-family: 'Roboto', sans-serif;

}
h1{
  font-size: 16em;
  margin: .2em .5em;
  color: rgba(255,255,255, 0.7);
  margin-bottom:0px;
}
h2{
  font-size: 1.7em;
  margin: .2em .5em;
  color: rgba(255,255,255, 0.6);
	.material-icons {
		font-size: 1.5em;
		position: relative;
		top: 10px;
	}
}
div.error{
  position:absolute;
  top:30%;
  margin-top:-8em;
  width:100%;
  text-align:center;
}
.logo{
    width: 50%;
    height: 50%;
}